@page
@model ApartmentRental.Pages.Apartments.MyProfileModel
@{
}


<div>Manage, create and delete Your favourite and posted offers</div>
    <a asp-page="MyOffers" class="btn btn-success btn-sm text-white">My offers</a>
    <a asp-page="MyFavourite" class="btn btn-success btn-sm text-white">My favourite</a>
    <a asp-page="Create" class="btn btn-success btn-sm text-white">Add offer</a>

