@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        On our portal You can search, post and rent apartments of any sort. Are You looking for flat for few days or maybe You are going to stay for longer? Our site offer
        wide wariety of flats and houses to rent. Just check for Yourselves.
    </div>
    
    
</div>
   <p> <img src="/Images/welcomePage.jpg"/></p>


